
{% extends 'base.html' %}

{% block content %}
<div style="background-color: blue; padding-top:18px; color:#fff">
<h1 style="margin-left: 45px;">       Required Data is:</h1>


<br></div>
<hr>
    
{% for i in yr %}
<center>
<ul style="font-size:21px;">
    <li style ="color:#fff">Flight number is : {{ i.flight_number }}</li>
    <li style ="color:#fff">Rocket name is : {{ i.rocket_name }}</li>
    <li style ="color:#fff">Mission patch link is :<br><img style="height:150px;width:150px;"src="{{ i.mission_patch_link }}" alt="No Image,Sorry!"></li>
    <br>
    <li style ="color:#fff">date is : {{ i.date }}</li>
   
</ul><br><br>
</center>
{% endfor %}
{% endblock %}